<!DOCTYPE html>
<html>
<head>
    <title>Team Task Manager</title>
</head>
<body>

<h1>Team Task Manager</h1>

<!-- CREATE PROJECT -->
<h2>Create Project</h2>
<input id="project_name" placeholder="Project Name">
<button onclick="createProject()">Create</button>

<!-- ADD MEMBER -->
<h2>Add Member</h2>
<input id="member_name" placeholder="Username">
<input id="project_name_member" placeholder="Project Name">
<button onclick="addMember()">Add Member</button>

<!-- CREATE TASK -->
<h2>Create Task</h2>
<input id="task_title" placeholder="Task Title">
<input id="task_user" placeholder="Assign Username">
<input id="task_project" placeholder="Project Name">
<input id="task_deadline" placeholder="Deadline">
<button onclick="createTask()">Add Task</button>

<script>

async function createProject(){
    let name = document.getElementById("project_name").value;

    await fetch("/create_project", {
        method: "POST",
        headers: {"Content-Type": "application/json"},
        body: JSON.stringify({
            name: name
        })
    });

    alert("Project Created");
}

async function addMember(){
    let username = document.getElementById("member_name").value;
    let project = document.getElementById("project_name_member").value;

    await fetch("/add_member", {
        method: "POST",
        headers: {"Content-Type": "application/json"},
        body: JSON.stringify({
            admin_id: localStorage.getItem("user_id"),
            project_id: project,
            username: username
        })
    });

    alert("Member Added");
}

async function createTask(){
    let title = document.getElementById("task_title").value;
    let username = document.getElementById("task_user").value;
    let project = document.getElementById("task_project").value;
    let deadline = document.getElementById("task_deadline").value;

    await fetch("/create_task", {
        method: "POST",
        headers: {"Content-Type": "application/json"},
        body: JSON.stringify({
            title: title,
            username: username,
            project_id: project,
            deadline: deadline
        })
    });

    alert("Task Created");
}

</script>

</body>
</html>