<!DOCTYPE html>
<html>
<head>
    <title>Team Task Manager</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<h1> Team Task Manager</h1>

<h3>Projects</h3>
<ul id="projectList"></ul>

<h3>Create Project</h3>
<input id="project_name" placeholder="Project Name">
<button onclick="createProject()">Create</button>

<h3>Add Member</h3>
<input id="member_name" placeholder="Username">
<input id="project_name_member" placeholder="Project Name">
<button onclick="addMember()">Add Member</button>

<h3>Create Task</h3>
<input id="task_title" placeholder="Task">
<input id="task_user" placeholder="Assign Username">
<input id="task_deadline" placeholder="YYYY-MM-DD">
<button onclick="createTask()">Add Task</button>

<h3>Tasks</h3>
<ul id="taskList"></ul>


<script>

let user_id = localStorage.getItem("user_id");

// ================= PROJECT =================

async function createProject(){
    await fetch("/create_project", {
        method: "POST",
        headers: {"Content-Type": "application/json"},
        body: JSON.stringify({
            name: document.getElementById("project_name").value,
            user_id: user_id
        })
    });

    alert("Project Created");
    loadProjects();
}


async function loadProjects(){
    let res = await fetch(`/projects/${user_id}`);
    let data = await res.json();

    let list = document.getElementById("projectList");
    list.innerHTML = "";

    data.forEach(p=>{
        let li = document.createElement("li");
        li.innerText = p.name;
        list.appendChild(li);
    });
}


// ================= MEMBER =================

async function addMember(){
    await fetch("/add_member", {
        method: "POST",
        headers: {"Content-Type": "application/json"},
        body: JSON.stringify({
            username: document.getElementById("member_name").value,
            project_name: document.getElementById("project_name_member").value
        })
    });

    alert("Member Added");
}


// ================= TASK =================


async function createTask(){
    let title = document.getElementById("task_title").value;
    let username = document.getElementById("task_user").value;
    let deadline = document.getElementById("task_deadline").value;

    let res = await fetch("/create_task", {
        method: "POST",
        headers: {"Content-Type": "application/json"},
        body: JSON.stringify({
            title: title,
            username: username,
            deadline: deadline
        })
    });

    let data = await res.json();

    alert(data.message);

    // 🔥 VERY IMPORTANT (delay + reload)
    setTimeout(() => {
        loadTasks();
    }, 300);
}


async function loadTasks(){
    let res = await fetch("/tasks");

    if(!res.ok){
        console.log("Error loading tasks");
        return;
    }

    let data = await res.json();

    let list = document.getElementById("taskList");
    list.innerHTML = "";

    data.forEach(t=>{
        let li = document.createElement("li");

        li.innerHTML = `
            ${t.title} (${t.deadline}) - ${t.username}
            <span style="color:${t.overdue ? 'red':'green'}">
                ${t.overdue ? 'Overdue' : t.status}
            </span>
            <button onclick="updateTask(${t.id})">✔</button>
        `;

        list.appendChild(li);
    });
}



async function updateTask(id){
    await fetch(`/update_task/${id}`, {
        method: "PUT"
    });

    loadTasks();
}


// ================= LOAD =================

loadProjects();
loadTasks();

</script>

</body>
</html>