<!DOCTYPE html>
<html>
<head>
    <title>Login</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

<div class="main">

<h2>Login</h2>

<input id="email" placeholder="Email"><br>
<input id="password" type="password" placeholder="Password"><br>

<button onclick="login()">Login</button>

<p>Don't have an account? <a href="/signup_page">Signup</a></p>

</div>

<script>

async function login(){

  let res = await fetch("/login", {
    method: "POST",
    headers: {"Content-Type": "application/json"},
    body: JSON.stringify({
      email: email.value,
      password: password.value
    })
  });

  let data = await res.json();

  if(data.user_id){
    localStorage.setItem("user_id", data.user_id);
    localStorage.setItem("role", data.role);
    window.location.href = "/dashboard_page";
  } else {
    alert(data.message);
  }
}

</script>

</body>
</html>